<td>
    <app-toggle-button
        [articleId]="article._id"
        [isChecked]="article.active"
        (change)="onClickToggleActiveState($event)">
    </app-toggle-button>
</td>
<td>{{ article.createdDate | date:"dd.MM.y H:mm" }} Uhr</td>
<td>{{ article.category | titlecase }}</td>
<td>{{ article.title }}</td>
<td>
    <a class="icon edit" (click)="onEditArticle()" style="cursor: pointer">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="icon delete" (click)="onDeleteArticle()" style="cursor: pointer">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</td>