<td>
    <app-toggle-button
        [articleId]="article._id"
        [isChecked]="article.active"
        (change)="onClickToggleActiveState($event)">
    </app-toggle-button>
</td>
<td>{{ article.createdDate | date:"dd.MM.y H:mm" }} Uhr</td>
<td>{{ article.category | titlecase }}</td>
<td>{{ article.title }}</td>
<td>
    <a class="edit" (click)="onEditArticle()">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="delete" (click)="onDeleteArticle()">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</td>