td {
    padding: 10px 20px;

    &:first-child {
        vertical-align: middle;
    }

    &:last-child {
        text-align: right;

        a {
            padding-left: 10px;
            font-size: 20px;
        }
    }
}