@import "../../../shared_styles/variables";

.creation {
    form {
        quill-editor {
            display: block;
            // TODO: Create a spacing sass file
            margin-bottom: 20px;
        }

        .ng-invalid.ng-touched {
            border: 1px solid $red;
            box-shadow: 0px 0px 2px $red;
            transition: border 400ms ease-out, box-shadow 400ms ease-out;
        }

        .media-buttons {
            width: 300px;
            display: flex;
            margin-bottom: 12px;
            justify-content: space-between;

            app-button {
                width: calc(50% - 4px);
                height: 40px;
            }
        }

        .media-container {
            width: 300px;

            .media {
                position: relative;

                &:hover {
                    .buttons {
                        display: block;
                    }
                }

                img {
                    width: 100%;
                }

                .buttons {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: black;
                    color: white;

                    span {
                        cursor: pointer;
                        padding: 6px;
                    }
                }
            }
        }
    }
}