<div class="creation">
  <form *ngIf="article" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Enter a title"
      [(ngModel)]="article.title"
      required>

    <label for="slug">Slug</label>
    <input
      type="text"
      id="slug"
      name="slug"
      placeholder="Enter a slug"
      [(ngModel)]="article.slug">

     <label for="category">Category</label>
    <select
      id="category"
      name="category"
      [(ngModel)]="article.category"
    >
      <option selected disabled>Choose an option</option>
      <option value="news">News</option>
      <option value="gaming">Gaming</option>
    </select> 

    <label for="content">Content</label>
    <textarea
      id="content"
      name="content"
      cols="20"
      [(ngModel)]="article.content"
      required>
    </textarea>

    <div class="button-group pull-right">
      <input type="button" class="button cancel" value="Cancel" (click)="onCancel()">
      <input
        type="submit"
        class="button confirm"
        [value]="(this.editMode) ? 'Save' : 'Create'"
        [disabled]="f.invalid">
    </div>
    <div class="clearfix"></div>
  </form>
</div>