@import "../../../shared_styles/variables";

.creation {
    background-color: $white;
    padding: 16px;
    border-top: 2px solid $green;
    border-bottom: 1px solid $lightGrey;

    form {
        input, textarea, select {
            margin: 5px 0 20px 0;
        }

        input[type="text"],
        textarea {
            display: block;
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            background-color: $white;
            outline: 0;

            &:focus {
                border: 1px solid $darkGreen;
                box-shadow: 0px 0px 2px $green;
                transition: border 400ms ease-out, box-shadow 400ms ease-out;
            }

            &::placeholder {
                color: $lightGrey;
            }
        }

        select {
            display: block;
            background-color: white;
            outline: 0;
            border: 1px solid #ccc;
            height: 40px;
            border-radius: 0;
            // -webkit-appearance: none;
        }

        .button-group {
            margin-top: 16px;
            display: flex;
            width: 260px;

            input[type="button"],
            input[type="submit"] {
                width: 50%;
                margin: 0 0 0 6px;
            }
        }

        .ng-invalid.ng-touched {
            border: 1px solid $red;
            box-shadow: 0px 0px 2px $red;
            transition: border 400ms ease-out, box-shadow 400ms ease-out;
        }
    }
}