@import "../../../shared_styles/variables";

.creation {
    form {
        select {
            display: block;
            background-color: white;
            outline: 0;
            border: 1px solid #ccc;
            height: 40px;
            border-radius: 0;
            // -webkit-appearance: none;
        }

        .ng-invalid.ng-touched {
            border: 1px solid $red;
            box-shadow: 0px 0px 2px $red;
            transition: border 400ms ease-out, box-shadow 400ms ease-out;
        }
    }
}