<app-page-header title="Create Article"></app-page-header>
<div class="creation">
  <form *ngIf="article" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <label>Top Element</label>
    <div class="media-buttons" [style.display]="showTopElement ? 'none' : 'flex'">
      <app-button type="upload" (uploadStarted)="onUploadStarted()" (uploadDone)="onUploadDone($event)"></app-button>
      <app-button type="icon-text" icon="folder-open" text="Choose" (click)="onOpenMediaSelector()"></app-button> 
    </div>
    <div class="media-container" *ngIf="showTopElement">
      <div class="media">
        <div class="buttons">
          <span class="glyphicon glyphicon-refresh" (click)="onChangeTopElement()"></span>
          <span class="glyphicon glyphicon-remove" (click)="onRemoveTopElement()"></span>
        </div>
        <img *ngIf="topElementMedia" src="{{ topElementMedia.url }}">
      </div>
      <div class="media-info">
        <input
          type="text"
          id="caption"
          name="caption"
          placeholder="Enter a caption"
          [(ngModel)]="article.mediaElement.caption">
      </div>
    </div>

    <app-media-selector
      *ngIf="showMediaSelector"
      (clickedConfirm)="onMediaSelection($event)"
      (clickedCancel)="removeMediaSelector()"
    ></app-media-selector>

    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Enter a title"
      [(ngModel)]="article.title"
      required>

    <label for="slug">Slug</label>
    <input
      type="text"
      id="slug"
      name="slug"
      placeholder="Enter a slug"
      [(ngModel)]="article.slug">

     <label for="category">Category</label>
    <select
      id="category"
      name="category"
      [(ngModel)]="article.category"
      required
    >
      <option value="" selected disabled>Please choose a category</option>
      <option value="news">News</option>
      <option value="gaming">Gaming</option>
    </select> 

    <label for="content">Content</label>
     <quill-editor
      name="content"
      [(ngModel)]="article.content"
      [modules]="{
        toolbar: [
          ['bold', 'italic', 'underline'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'align': [] }]
        ]
      }"
      [style]="{ height: '250px' }"
      required
      #quillEditor
    ></quill-editor>

    <div class="button-group pull-right">
      <input type="button" class="button cancel" value="Cancel" (click)="onCancel()">
      <input
        type="submit"
        class="button confirm"
        [value]="(this.editMode) ? 'Save' : 'Create'"
        [disabled]="f.invalid">
    </div>
    <div class="clearfix"></div>
  </form>
</div>