<router-outlet></router-outlet>
<!-- <div class="wrapper">
  <ng-template #loginWrapper>
    <div class="login-wrapper">
      <router-outlet></router-outlet>
    </div>
  </ng-template>

  <div class="content-wrapper" *ngIf="isLoggedIn; else loginWrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content">
      <div class="container-fluid">
        <div class="content-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<simple-notifications
  [options]="
    {
      timeOut: 5000
    }
  "
></simple-notifications> -->