@import "../../shared_styles/variables";

.header {
    margin: 12px 0 29px;
    padding-bottom: 8px;
    border-bottom: 1px solid $lightGrey;

    h1 {
        margin: 0;
    }

    a {
        span {
            font-size: 30px;
        }
    }
}