<div class="list">
  <table>
    <thead>
      <tr>
        <th *ngFor="let item of headerColumns">{{ item }}</th>
      </tr>
    </thead>
    <tbody *ngIf="data.length > 0; else elseTemplate">
      <tr *ngFor="let row of data">
        <td
          app-list-item
          *ngFor="let column of rows"
          [type]="column.type"
          [content]="column.content ? row[column.content] : column.data"
          [id]="row._id">
        </td>
      </tr>
    </tbody>
    <ng-template #elseTemplate>
      <tbody class="empty">
        <tr>
          <td colspan="100%">No Results found</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div> 
