<div class="list">
  <table>
    <thead>
      <tr>
        <th *ngFor="let item of headerColumns">{{ item }}</th>
      </tr>
    </thead>
    <tbody *ngIf="data.length">
      <tr *ngFor="let row of data">
        <td
          app-list-item
          *ngFor="let column of rows"
          [type]="column.type"
          [content]="column.content ? row[column.content] : column.data"
          [id]="row._id">
        </td>
      </tr>
    </tbody>
    <tbody class="empty" *ngIf="!isLoading && data.length === 0">
      <tr>
        <td colspan="100%">No Results found</td>
      </tr>
    </tbody>
  </table>
  <div class="loading-wrapper" *ngIf="isLoading">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div> 
  