/* You can add global styles to this file, and also import other style files */
@import "shared_styles/variables";
@import "shared_styles/fonts";
@import "shared_styles/form";

html, body {
    height: 100%;
    background-color: $ultraLightGrey;

    a, a:hover, a:focus, a:visited {
        text-decoration: none;
    }

    a {
        &.icon {
            &:hover {
                opacity: .8
            }
        }
        
        &.delete {
            span {
                color: $red;
            }
        }

        &.new {
            span {
                color: $green;
            }
        }

        &.edit {
            span {
                color: $blue;
            }
        }
    }

    input[type="button"],
    input[type="submit"],
    button {
        border: 0px;
        border-radius: 4px;
        padding: 8px;
        min-width: 100px;
        outline: 0;

        &.cancel {
            background-color: white;
            border: 1px solid $red;
            color: $red;

            &:hover {
                background-color: $red;
                color: $white;
            }
        }

        &.confirm {
            background-color: $green;
            color: $white;

            &:hover {
                opacity: .9;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: .65;

            &:hover {
                opacity: .65;
            }
        }
    }

    // Custom styles for the alert message overlay from sweetalert
    .alert {
        background-color: red;

        button {
            margin-left: 10px;
        }
    }
}
